<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Radiant Skin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" routerLink="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/shop">Shop</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/impressum">Impressum</a></li>
          @if (cartService.itemCount() > 0) {
            <li class="nav-item">
              <a class="nav-link" routerLink="/warenkorb">
                Warenkorb ({{ cartService.itemCount() }})
              </a>
            </li>
          }
          @if (authService.isLoggedIn()) {
            <li class="nav-item">
              <a class="nav-link" routerLink="/employee">Bestellungen</a>
            </li>
          }
          <li class="nav-item">
            <a class="nav-link" (click)="onLoginLogout()" style="cursor: pointer;">
              @if (authService.isLoggedIn()) {
                Logout
              } @else {
                Login
              }
            </a>
          </li>
        </ul>
        <form class="d-flex" role="search" (submit)="onSearch($event)">
          <input 
            id="searchInput" 
            class="form-control me-2" 
            type="search" 
            placeholder="Produkt suchen" 
            aria-label="Search"
            [value]="searchTerm()"
            (input)="searchTerm.set($any($event.target).value)">
          <button class="btn btn-outline-success" type="submit">Suchen</button>
        </form>
      </div>
    </div>
  </nav>

<router-outlet />
