@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.welcome-text {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    color: #FF5733;
    text-align: center;
    margin-top: 30px;
}

.sale-text {
    font-family: 'Lobster', cursive;
    font-size: 32px;
    color: #C70039;
    text-align: center;
    margin-bottom: 30px;
}

.navbar-brand {
    font-weight: bold;
}

.sale-text {
    font-size: 1.2rem;
    color: red;
}

body {
    background-image: radial-gradient(circle, #3b3b3b, #282828) !important;
}

.white {
    color: white !important;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #333;
}

.product-image {
    width: 120px;
    height: auto;
}

.product-details h5 {
    margin-bottom: 5px;
}

.product-price p {
    margin-bottom: 10px;
}